* {
    margin: 0px;
    padding: 0px;
}
div{
    display: block;   
  }
.header {
    height: 100px;
    min-width: 800px;
    background-color: #096dd9;
    text-align: center;
}

.header .top {
    min-width: 500px;
    height: 66px;
    background-color: #096dd9;
    text-align: center;
    line-height: 100px;
}

.header .top img {
    width: 80px;
    height: 50px;
    vertical-align: middle;
    line-height: 100px;
}
.content {
    width: 100%;
    min-width: 800px;
    background-color: #1890ff; 
    display: block;
}

.content .left {
    min-height: 3400px;
    width: 20%;
    float: left;
    background-color: #1890ff;
}

.content .left .coffee_list {
    min-height: 350px;
    position: sticky;
    top: 0;

}
.content .left .coffee_list li {
    list-style: none;
    font-size: 20px;
    line-height: 50px;
}

.content .left .coffee_list li a {
    width:100%;
    display: block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #000;
    text-indent: 2em;
}
.content .left .coffee_list li:last-child a{
    border-bottom: none;
}
.content .left .coffee_list li a:hover{
    background-color: #91d5ff;
}
.content .left .coffee_list li a:active{
    background-color: #e6f7ff;
    color:black
}
.content .right {
    width: 80%;
    float: left;
    background-color: #bae7ff;
}
.content .right .right_top{
    margin:0 auto;
    text-align: center;
    margin-top:15px;
    width: 80%;
    max-width: 800px;
}
.content .right .right_top img{
    margin-top: 20px;
    margin-bottom:20px;
    width: 100%;
}

.content .right .nt {
    min-width: 600px;
    min-height: 500px;
    margin-top: 20px;
}

.content .right .cimg {
    margin-left:20px;
    width: 400px;
    height: 300px;
}

.content .right .cimg img {
    width: 100%;
    height: 100%;
}

.content .right .tit {
    margin-left:20px;
    font-size: 30px;
}
.content .right .ant {
    margin-left:20px;
    font-size: 20px;
    text-indent: 2em;
}
.content .right .ant::first-letter {
    font-size: 32px;
}
.content .right .kb {
    min-width: 600px;
    min-height: 500px;
    margin-top: 20px;
}

.content .right .arb {
    min-width: 600px;
    min-height: 500px;
    margin-top: 20px;
}

.content .right .mcf {
    min-width: 600px;
    min-height: 500px;
    margin-top: 20px;
}

.content .right .mqd {
    min-width: 600px;
    min-height: 500px;
    margin-top: 20px;
}
.content .price{
    margin:0 auto;
    width:60%;
    max-width: 800px;
}
.content .price p{
    font-size: 40px;
    text-align: center;
}
.content .price table{
    margin:20px auto;
    width: 100%;
    height: 350px;
    border-collapse: collapse;
}
.content .price table td,.content .price table th{
    border:1px solid #000;
}
.content .price table td{
    text-align: center;
    line-height: 100%;
}
.content .price table .jg::before{
        content: '￥';
}
.footer {
    min-width: 800px;
    height: 50px;
    background-color: #096dd9;
}
.footer p {
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 50px;
}

